body {
    width: 100vw;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
h1 {
  text-align: center;
  font-weight: 900;
}
h2 {
  font-size: 30px;
  font-weight: 900;
}
h4 {
margin-top: -100px;
text-align: center;
font-weight: 900;
font-size: 40px;
background: linear-gradient(to bottom right, rgb(1, 1, 109), rgb(165, 1, 165));
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent; 
}


/* Navigation Bar */

nav {
    width: 100%;
    height: 15%;
    margin: auto;
    background-color: white;
}
.navbar-nav {
    width: 100%;
    margin-left:50px;
    margin-right: 50px;
    padding-top: 37px;
}
.navbar-brand {
  margin-left: 50px;
  margin-right: auto;
  font-size: 25px;
  z-index: 10000;
  font-weight: 900;
  color: black;
}
.navbar-brand:hover {
  background: linear-gradient(to bottom right, rgb(1, 1, 109), rgb(165, 1, 165));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-right {
    display: flex;
    margin-left: auto;
    text-align: right;
    width: 200px;
}
.nav-item {
    color: rgba(0, 0, 0, .6);
}
.nav-item:hover {
    color: black;
}


/* Hero Image */

.background {
  height: 600px;
  background-image: url("../images/Allison-Krupp-Graphic-Designer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bigText {
      padding-top: 250px;
      padding-right: 50px;
      width: 50%;
      margin-left: auto;
      color: white;
      min-width: 250px;
      max-width: 700px;
  }


/* Case Studies */

.caseStudies {
  margin-top: 100px;
}
  .heading {
    height: 400px;
    width: 100%;
    margin: auto;
    color: transparent;
    text-align: center;
    font-size: 25px;
  }
  .heading:hover {
    background-image: linear-gradient(to bottom right, rgba(1, 1, 109, .8), rgba(165, 1, 165, .8));
    color: white;
    padding-top: 180px;
    font-size: 25px;
  }
  #categoryGrid {
    margin: 100px 5%;
    grid-gap: 50px;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "one two"
    ;
  }
  #one {
    grid-area: one;
    background-image: url(../images/CIA-BW.gif);
    text-decoration: none;
  }
  #two {
    grid-area: two;
    background-image: url(../images/SOPO-BW.gif);
    text-decoration: none;
  }
  .categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    display: grid;
    align-content: end;
  }


/* About Me */

.aboutMe {
  margin: 150px auto;
  width: 850px;
}


/* Qualifications */

.firstBlock {
  background-image: linear-gradient(to bottom right, rgb(1, 1, 109), rgb(165, 1, 165));
  background-position: top;
  width: 100%;
  height: 700px;
  color: white;
}
.allContainers {
  justify-content: center;
  text-align: center;
  padding-top: 85px;
}
.firstContainer {
  justify-content: center;
  text-align: left;
  display: flex;
}
.secondContainer {
  justify-content: center;
  text-align: left;
  display: flex;
  margin-top: 50px;
}
.container {
  justify-content: center;
  text-align: left;
  display: grid;
}


/* Download Resume */

.downloadResume {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  }
.download {
  text-align: center;
  color: white;
  text-decoration: none;
}
.btn {
  margin-top: 50px;
  width: 300px;
  height: 60px;
  background-image: linear-gradient(to bottom right, rgb(1, 1, 109), rgb(165, 1, 165));
  color: white;
  padding: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn:hover {
color: white;
background-image: linear-gradient(to bottom right, rgb(165, 1, 165), rgb(1, 1, 109));
}


/* Contact Form */

.secondBlock {
  margin-top: 100px;
  width: 100%;
}
.contactForm {
  padding-top: 30px;
  background-image: linear-gradient(to bottom right, rgb(1, 1, 109), rgb(165, 1, 165));
  background-position: top;
  height: 750px;
  color: white;
}
.contact {
  padding-top: 70px;
}
.fullForm {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}
.topFields {
  justify-content: center;
  text-align: left;
  display: flex;
  margin-bottom: 30px;
}
.fullName {
  margin-right: 30px;
}
.fields {
  width: 300px;
  height: 40px;
  border-radius: 3px;
}
.bottomFields {
  text-align: left;
  justify-content: center;
  display: inline-block;
}
.subjectName {
  margin-bottom: 30px;
}
.messageName {
  margin-bottom: 30px;
}
.subject2 {
  height: 40px;
}
.message2 {
  height: 100px;
}
.fields2 {
  width: 630px;
  border-radius: 3px;
}
.submit {
  width: 300px;
  height: 60px;
  background-color: black;
  color: white;
  padding: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  border-color: transparent;
}
.submit:hover {
  background-color: rgb(20, 20, 20);
}


  /* Footer */

  .footerLinks {
      margin: 100px auto;
      width: 100vw;
    }
  .footerLinks ul{
      display: flex;
      justify-content: center;
  }
  .footerLinks li a {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.500);
    padding: 15px;
    text-align: center;
  }
  .footerLinks li a:hover {
      color: black;
      text-decoration: none;
  }
  .footerLinks li:active {
      color: black;
      text-decoration: none;
  }


  @media only screen and (max-width:850px) {
    
    body {
      width: 100%;
    }
    h1 {
      text-align: center;
      font-weight: 900;
      font-size: 35px;
  }


    /* Navigation Bar */

    .navbar-brand {
        margin-left: 20px;
    }
    .nav-item {
      display: flex;
    }


    /* Hero Image */

    .bigText {
      padding-left: 10px;
      padding-top: 300px;
      min-width: 450px;
    }   


    /* Case Studies */

    .caseStudies {
      margin-top: 100px;
    }
    #categoryGrid {
      margin: 50px 5%;
      grid-gap: 50px;
      display: grid;
      grid-template-rows: 300px;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "one"
      "two"
      ;
    }
    .heading {
      height: 300px;
      width: 100%;
      margin: auto;
      color: transparent;
      text-align: center;
      font-size: 25px;
    }
    .heading:hover {
      background-image: linear-gradient(to bottom right, rgba(1, 1, 109, .8), rgba(165, 1, 165, .8));
      color: white;
      padding-top: 130px;
      font-size: 25px;
    }


      /* About Me */

    .aboutMe {
      margin: 100px auto;
      width: 400px;
      font-size: 25px;
    }


      /* Qualifications */

    .firstBlock {
      background-image: linear-gradient(to bottom right, #01016d, rgb(165, 1, 165));
      background-position: top;
      width: 100%;
      height: 1250px;
      color: white;
    }
    .allContainers {
      padding-top: 100px;
    }
    .container {
      padding-bottom: 30px;
    }
    .firstContainer {
      display: block;
    }
    .secondContainer {
      display: block;
      margin-top: 0px;
    }


    /* Download Resume */

    .btn {
      width: 300px;
    }

    /* Contact Form */

    .contact {
      padding-top: 30px;
    }
    .fullForm {
      justify-content: center;
      text-align: center;
      display: block;
      margin-top: 50px;
      width: 100%;
    }
    .topFields {
      justify-content: center;
      text-align: left;
      display: grid;
    }
    .fullName {
      margin-bottom: 30px;
      margin-right: 0px;
    }
    .fields {
      margin-top: 5px;
      width: 300px;
      height: 40px;
      border-radius: 3px;
    }
    .subjectName {
      margin-bottom: 30px;
    }
    .messageName {
      margin-bottom: 30px;
    }
    .subject2 {
      height: 40px;
    }
    .message2 {
      height: 100px;
    }
    .fields2 {
      margin-top: 5px;
      width: 300px;
      border-radius: 3px;
    }


      /* Footer */

    .footerLinks {
      margin: 50px auto;
      width: 100vw;
    }
  }